#Rules for Sycamore ###########################################################
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="8530", MODE="0666", GROUP="dionysus"
#End RUle #####################################################################
